/* Commons */
.xh_a_none, a {
    text-decoration: none !important;
}

.xh_border {
    border: 2px dashed #000 !important;
    border-radius: 10px !important;
    padding: 5px !important;
    margin: 50px 0px !important;
}

.xh_error {
    color: red !important;
}

.xh_w_100 {
    width: 100% !important;
}

.xh_block {
    display: block !important;
}

/* Text */
.xh_text_center {
    text-align: center !important;
}

.xh_text_left {
    text-align: left !important;
}

.xh_text_rigth {
    text-align: right !important;
}

.xh_text_blod {
    font-weight: 600 !important;
}

.xh_text_upper {
    text-transform: uppercase !important;
}

.xh_text_lower {
    text-transform: lowercase !important;
}

.xh_text_red {
    color: red !important;
}

.xh_text_blue {
    color: blue !important;
}

.xh_text_green {
    color: green !important;
}

.xh_text_white {
    color: white !important;
}

.xh_text_fff {
    color: #fff !important;
}

.xh_text_black {
    color: black !important;
}

.xh_text_000 {
    color: #000 !important;
}